 <div *ngFor='let Quotes of newquote; let i = index'>
   <div class="card" style="width: 30rem;">
     <div class="card-body">
       <h5 class="card-title">Quote</h5>
       <p class="card-text">{{Quotes.quoteMessage}}</p>
       <h6 class="card-subtitle mb-2 text-muted">Publisher: {{Quotes.quotePublisher}}</h6>
       <h6 class="card-subtitle mb-2 text-muted">Published On: </h6>
       <a class="card-link btn btn-success" (click)="showMoreDetails(i)">More details</a>
       <app-details *ngIf="Quotes.showMore" [moreQuote]="Quotes"></app-details>
     </div>
   </div>
 </div>
