/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css' ;
 body{
    background-image: url(https://res.cloudinary.com/jo-i/image/upload/v1604704938/180-1804478_pen-on-paper_cynlxl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 